**/Catapult
**/Catapult_1
**/Catapult_2
**/Catapult_3
**/Catapult.ccs
**/catapult.log
**/catapult.pinfo
**/.toolkit.tcl
**/design_checker_constraints.tcl
**/design_checker_pre_build.tcl
**/directives.tcl
**/.vscode